* {
    box-sizing: border-box;

}

body{
    display:flex;
    flex-direction: column;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -70%);
    background-color:sandybrown;

}
div{
    display:flex;
}
img {
    height: 350px;
}
.words{
    flex-direction: column;
    width:max-content;
}
label{
    align-self: center;
    padding-left: 10px;
}
input, button{
    height:35px;
    align-self: center;
}
h1{
    text-align: center;
}