* {
    font-family: arial;
    box-sizing: border-box;
    font-size: 30px;
}

body{
    background-color: rgb(155,183,120);
}
h1{
    text-align:center;
}

h2 {
    background-color: rgb(238,250,233);
    text-align: right;
    flex:1 0 90%;
    border-bottom: 5px solid rgb(112,156,178);
    height:75px;
    margin-right:10px;
    margin-left:10px;
    padding-top:40px;
    padding-right:4px;
}

ul {
    width: 350px;
    height: 450px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(144,202,229);
}

li {
    text-align: center;
    width: 100px;
    height: 50px;
    border-bottom: 5px solid rgb(112,156,178);
    flex:1 0 18%;
    padding-top:15px;
    padding-bottom:50px;
    margin-right:10px;
    margin-left:10px;
}
.number{
    background-color: rgb(237,237,237);
}

.sign{
    background-color: rgb(234,255,146);
}
#clear{
    background-color: rgb(255,148,160);
}